
$primary: #9db3e6;
$secondary: #003b5c;
$success: #f4f1f4;
$info: #d0d0d0;
$warning: #b4c6e7;
$danger: #F6A5B2;

//
// Cambia la fuente sans-serif a Lato
$font-family-sans-serif: 'Lato', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
